<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>LabstreamBuildSlug</key>
	<string>$(LABSTREAM_BUILD_SLUG)</string>
	<key>LabstreamBuildDateUTC</key>
	<string>$(LABSTREAM_BUILD_DATE_UTC)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Labstream connects to the Plex, Jellyfin, or Emby server you choose on your local network to browse and play your personal media library.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
